.fav-badge {
  position: relative;
}

.fav-badge__count { 
width: 20px;
height: 20px;
  border-radius: 99px;
  position: absolute;
  top: 0%;
  right: 0%;
  left: 70%;
  bottom: 60%;

  span {
    text-align: center;
    width: 100%;
    font-weight: 500;
    position: absolute;
    font-size: 16px;
  }
}

.fav-badge__color {
  background-color: rgb(0, 0, 0);

  span {
    color: white;
  }
}

.fav-badge__color-dark {
  background-color: rgb(251, 250, 245);

  span {
    color: rgb(35, 43, 43);
  }
}