.post-photo-modal {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -5%);
  width: 40%;
  border-radius: 12px;
  padding: 50px;
  form {
    margin-left: 15%;
  }
}

.post-photo-modal__font-color {
  color: #111;
}
.post-photo-modal__font-color-dark {
  color: rgb(251, 250, 245);
}

.post-photo-modal-color {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
}
.post-photo-modal-color-dark {
  background-color: rgb(35, 43, 43);
  box-shadow: 0 0 0 50vmax rgba(39, 39, 39, 0.5);
}

.post-photo-modal__section-header {
  font-size: 16pt;
}

input {
  width: 40%;
  margin: 5px 25px 5px 0;
  background-color: white;
}

.post-photo-modal__user-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 40px;
  height: 40px;
  margin-top: 4px;
}

.post-photo-modal__user-details {
  display: flex;
  flex-direction: row;
  align-items: center;

  p {
    margin: 0;
  }
}

.post-photo-modal__user-info {
  margin-top: 5px;
  font-weight: 700;
  font-size: 12px;
  margin-left: 8px;
}