.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  width: 100%;
}

.top-nav-bar__logo {
  text-decoration: overline;
  font-weight: 700;
  font-size: 24px;
  text-underline-position: auto;
  margin-left: 24px;
}

.top-nav-bar-color {
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}
.top-nav-bar-color-dark {
  -webkit-box-shadow: 0 4px 6px -6px rgb(251, 250, 245);
  -moz-box-shadow: 0 4px 6px -6px rgb(251, 250, 245);
  box-shadow: 0 4px 6px -6px rgb(251, 250, 245);
  background-color: rgb(35, 43, 43);
}

.top-nav-bar__logo-color {
  color: #111;
}
.top-nav-bar__logo-color-dark {
  color: rgb(251, 250, 245);
}

.top-nav-bar__icons {
  display: flex;
  align-items: center;
  margin-right: 14px;
  
  svg {
    margin-right: 10px;
  }
}

.top-nav-bar__submit-icon {
  font-size: 30pt;
  align-items: center;
  margin-top: 25px;
  &:hover{
    cursor: pointer;
  }
}

.top-nav-bar__submit-icon-color {
  color: #111;
}
.top-nav-bar__submit-icon-color-dark {
  color: rgb(251, 250, 245);
}
